.tab-container {
  .list-group a.list-group-item {
    color: $tab-color;

    &:hover {
      color: $npg-ana-green;
    }
  }

  .date h5 {
    font-weight: 700;
  }

  .holder p {
    font-size: 14px;
  }
}
