$npg-font-stack-1: "Open Sans", Arial, Helvetica, sans-serif;
$npg-font-stack-2: "source sans pro", Arial, sans-serif;
//Seen in channel pages, viewbuilder, pagebuilder
$font-stack-3: "Roboto", "Helvetica", sans-serif !important;
